.shepherd-element:focus,
.shepherd-content:focus,
.shepherd-text:focus {
  outline: none;
}

.shepherd-text {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.shepherd-button {
  background-color: #ffd27c;
  color: #212121;
  cursor: pointer;
  font-family: "Flaco-Mono", sans-serif;
  border: 0;
  padding: 0.6rem 1rem;
  margin: 0.6rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}